-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: npgolf
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `billing_entities`
--

DROP TABLE IF EXISTS `billing_entities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_entities` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entity_type` enum('golf_course','league_organization','event_company','other') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'league_organization',
  `description` text COLLATE utf8mb4_unicode_ci,
  `logo_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `website` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `timezone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'America/Los_Angeles',
  `billing_email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `billing_name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `billing_address` text COLLATE utf8mb4_unicode_ci,
  `stripe_customer_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  UNIQUE KEY `stripe_customer_id` (`stripe_customer_id`),
  KEY `idx_slug` (`slug`),
  KEY `idx_entity_type` (`entity_type`),
  KEY `idx_active` (`active`),
  KEY `idx_stripe_customer` (`stripe_customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entities`
--

LOCK TABLES `billing_entities` WRITE;
/*!40000 ALTER TABLE `billing_entities` DISABLE KEYS */;
INSERT INTO `billing_entities` VALUES (1,'Paradise Golf','paradise-golf','league_organization','Original Paradise Golf league organization',NULL,NULL,'America/Los_Angeles',NULL,NULL,NULL,NULL,1,'2026-05-07 11:25:01','2026-05-07 11:25:01'),(2,'test golf course','tgc','golf_course','this is a test golf course to simulate a golf course having multiple leagues','','https://tgc.com','America/New York','owner@tgc.com','Test Golf Course','123 Main st\nAnytown, FL',NULL,1,'2026-05-07 12:23:52','2026-05-07 12:23:52');
/*!40000 ALTER TABLE `billing_entities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_entity_roles`
--

DROP TABLE IF EXISTS `billing_entity_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_entity_roles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `role` enum('owner','admin','member') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'member',
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entity_player` (`billing_entity_id`,`player_id`),
  KEY `idx_billing_entity_id` (`billing_entity_id`),
  KEY `idx_player_id` (`player_id`),
  KEY `idx_role` (`role`),
  CONSTRAINT `billing_entity_roles_ibfk_1` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `billing_entity_roles_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entity_roles`
--

LOCK TABLES `billing_entity_roles` WRITE;
/*!40000 ALTER TABLE `billing_entity_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_entity_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_entity_settings`
--

DROP TABLE IF EXISTS `billing_entity_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_entity_settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int unsigned NOT NULL,
  `setting_key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `setting_value` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entity_setting` (`billing_entity_id`,`setting_key`),
  KEY `idx_billing_entity_id` (`billing_entity_id`),
  KEY `idx_setting_key` (`setting_key`),
  CONSTRAINT `billing_entity_settings_ibfk_1` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entity_settings`
--

LOCK TABLES `billing_entity_settings` WRITE;
/*!40000 ALTER TABLE `billing_entity_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_entity_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `created_by_entity_id` int unsigned DEFAULT NULL,
  `is_public` tinyint(1) NOT NULL DEFAULT '1' COMMENT '1=anyone can use, 0=only creating entity',
  `name` varchar(191) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_created_by_entity` (`created_by_entity_id`),
  KEY `idx_is_public` (`is_public`),
  CONSTRAINT `fk_course_entity` FOREIGN KEY (`created_by_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_tee`
--

DROP TABLE IF EXISTS `course_tee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_tee` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `course_id` int unsigned NOT NULL,
  `tee_name` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'e.g. Black, Blue, White, Gold, Red',
  `tee_color` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '#FFFFFF' COMMENT 'CSS color for UI display',
  `gender` enum('M','F','A') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'A' COMMENT 'M = mens only, F = ladies only, A = applicable to all',
  `course_rating` decimal(4,1) DEFAULT NULL COMMENT 'e.g. 72.4',
  `slope_rating` smallint unsigned DEFAULT NULL COMMENT 'e.g. 138',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_course_tee` (`course_id`,`tee_name`),
  KEY `idx_course_id` (`course_id`),
  CONSTRAINT `fk_course_tee_course` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_tee`
--

LOCK TABLES `course_tee` WRITE;
/*!40000 ALTER TABLE `course_tee` DISABLE KEYS */;
/*!40000 ALTER TABLE `course_tee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emails`
--

DROP TABLE IF EXISTS `emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emails` (
  `id` int NOT NULL AUTO_INCREMENT,
  `from_email` varchar(255) NOT NULL,
  `from_name` varchar(255) DEFAULT NULL,
  `to_email` varchar(255) DEFAULT NULL,
  `subject` varchar(500) DEFAULT NULL,
  `text` text,
  `html` mediumtext,
  `received_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `is_read` tinyint(1) DEFAULT '0',
  `message_id` varchar(255) DEFAULT NULL COMMENT 'IMAP/SMTP Message-ID header for deduplication',
  PRIMARY KEY (`id`),
  KEY `idx_received_at` (`received_at` DESC),
  KEY `idx_is_read` (`is_read`),
  KEY `idx_message_id` (`message_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emails`
--

LOCK TABLES `emails` WRITE;
/*!40000 ALTER TABLE `emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_participants`
--

DROP TABLE IF EXISTS `event_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_participants` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `event_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `registration_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `paid` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_event_player` (`event_id`,`player_id`),
  KEY `idx_event_id` (`event_id`),
  KEY `idx_player_id` (`player_id`),
  CONSTRAINT `event_participants_ibfk_1` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE,
  CONSTRAINT `event_participants_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_participants`
--

LOCK TABLES `event_participants` WRITE;
/*!40000 ALTER TABLE `event_participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int unsigned NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `event_date` date NOT NULL,
  `registration_deadline` date DEFAULT NULL,
  `max_participants` int unsigned DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entity_slug` (`billing_entity_id`,`slug`),
  KEY `idx_billing_entity_id` (`billing_entity_id`),
  KEY `idx_event_date` (`event_date`),
  KEY `idx_active` (`active`),
  CONSTRAINT `events_ibfk_1` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `foursome_posts`
--

DROP TABLE IF EXISTS `foursome_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `foursome_posts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `foursome_group` varchar(100) NOT NULL,
  `posted_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `posted_by` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tournament_foursome` (`tournament_id`,`foursome_group`),
  KEY `fk_fp_player` (`posted_by`),
  CONSTRAINT `fk_fp_player` FOREIGN KEY (`posted_by`) REFERENCES `players` (`id`),
  CONSTRAINT `fk_fp_tournament` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `foursome_posts`
--

LOCK TABLES `foursome_posts` WRITE;
/*!40000 ALTER TABLE `foursome_posts` DISABLE KEYS */;
INSERT INTO `foursome_posts` VALUES (1,8,'1','2026-05-07 19:33:48',10),(3,8,'2','2026-05-07 19:19:29',10),(6,7,'1','2026-05-07 19:36:26',10),(7,7,'2','2026-05-07 19:48:40',10),(8,7,'3','2026-05-07 19:49:52',10),(9,9,'1','2026-05-17 16:24:35',55),(10,9,'2','2026-05-17 04:14:23',55);
/*!40000 ALTER TABLE `foursome_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `global_settings`
--

DROP TABLE IF EXISTS `global_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `global_settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `setting_value` text COLLATE utf8mb4_unicode_ci,
  `description` text COLLATE utf8mb4_unicode_ci,
  `data_type` enum('string','number','boolean','json') COLLATE utf8mb4_unicode_ci DEFAULT 'string',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `global_settings`
--

LOCK TABLES `global_settings` WRITE;
/*!40000 ALTER TABLE `global_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `global_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hole`
--

DROP TABLE IF EXISTS `hole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hole` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `course_id` int unsigned NOT NULL,
  `hole_number` tinyint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_course_hole` (`course_id`,`hole_number`),
  CONSTRAINT `hole_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hole`
--

LOCK TABLES `hole` WRITE;
/*!40000 ALTER TABLE `hole` DISABLE KEYS */;
/*!40000 ALTER TABLE `hole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hole_tee`
--

DROP TABLE IF EXISTS `hole_tee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hole_tee` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `hole_id` int unsigned NOT NULL,
  `tee_id` int unsigned NOT NULL,
  `distance` int unsigned NOT NULL COMMENT 'Yards from this tee to the hole',
  `par` tinyint unsigned NOT NULL COMMENT '3, 4, or 5',
  `handicap` tinyint unsigned NOT NULL COMMENT 'Stroke index 1-18',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_hole_tee` (`hole_id`,`tee_id`),
  KEY `idx_hole_id` (`hole_id`),
  KEY `idx_tee_id` (`tee_id`),
  CONSTRAINT `fk_hole_tee_hole` FOREIGN KEY (`hole_id`) REFERENCES `hole` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_hole_tee_tee` FOREIGN KEY (`tee_id`) REFERENCES `course_tee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=523 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hole_tee`
--

LOCK TABLES `hole_tee` WRITE;
/*!40000 ALTER TABLE `hole_tee` DISABLE KEYS */;
/*!40000 ALTER TABLE `hole_tee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `subscription_id` int unsigned NOT NULL,
  `invoice_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount_due` decimal(10,2) NOT NULL,
  `amount_paid` decimal(10,2) NOT NULL DEFAULT '0.00',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `period_start` date NOT NULL,
  `period_end` date NOT NULL,
  `due_date` date NOT NULL,
  `paid_at` timestamp NULL DEFAULT NULL,
  `stripe_invoice_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pdf_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `idx_subscription_id` (`subscription_id`),
  KEY `idx_invoice_number` (`invoice_number`),
  KEY `idx_status` (`status`),
  KEY `idx_due_date` (`due_date`),
  KEY `idx_stripe_invoice` (`stripe_invoice_id`),
  CONSTRAINT `invoices_ibfk_1` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `league_player_stats`
--

DROP TABLE IF EXISTS `league_player_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `league_player_stats` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `league_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `quota_18` int DEFAULT NULL,
  `quota_9` int DEFAULT NULL,
  `fedex_points` int DEFAULT '0',
  `tournaments_played` int DEFAULT '0',
  `prize_money` decimal(10,2) DEFAULT '0.00',
  `current_rank` int unsigned DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_league_player_stats` (`league_id`,`player_id`),
  KEY `idx_league_id` (`league_id`),
  KEY `idx_player_id` (`player_id`),
  KEY `idx_fedex_points` (`fedex_points` DESC),
  CONSTRAINT `league_player_stats_ibfk_1` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE,
  CONSTRAINT `league_player_stats_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `league_player_stats`
--

LOCK TABLES `league_player_stats` WRITE;
/*!40000 ALTER TABLE `league_player_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `league_player_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `league_players`
--

DROP TABLE IF EXISTS `league_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `league_players` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `league_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_league_player` (`league_id`,`player_id`),
  KEY `idx_league_id` (`league_id`),
  KEY `idx_player_id` (`player_id`),
  CONSTRAINT `league_players_ibfk_1` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE,
  CONSTRAINT `league_players_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `league_players`
--

LOCK TABLES `league_players` WRITE;
/*!40000 ALTER TABLE `league_players` DISABLE KEYS */;
/*!40000 ALTER TABLE `league_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `league_rulesets`
--

DROP TABLE IF EXISTS `league_rulesets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `league_rulesets` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `league_id` int unsigned NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('draft','published','archived') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `content_json` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `effective_from` date DEFAULT NULL,
  `effective_to` date DEFAULT NULL,
  `created_by` int unsigned DEFAULT NULL,
  `published_by` int unsigned DEFAULT NULL,
  `published_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_rulesets_created_by` (`created_by`),
  KEY `fk_rulesets_published_by` (`published_by`),
  KEY `idx_rulesets_league` (`league_id`),
  KEY `idx_rulesets_status` (`status`),
  KEY `idx_rulesets_effective` (`effective_from`,`effective_to`),
  CONSTRAINT `fk_rulesets_created_by` FOREIGN KEY (`created_by`) REFERENCES `players` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_rulesets_league` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_rulesets_published_by` FOREIGN KEY (`published_by`) REFERENCES `players` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `league_rulesets`
--

LOCK TABLES `league_rulesets` WRITE;
/*!40000 ALTER TABLE `league_rulesets` DISABLE KEYS */;
/*!40000 ALTER TABLE `league_rulesets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `league_settings`
--

DROP TABLE IF EXISTS `league_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `league_settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `league_id` int unsigned NOT NULL,
  `tournament_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '20.00',
  `tournament_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '10.00',
  `skins_ctp_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '10.00',
  `skins_ctp_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '5.00',
  `golf_course_email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `additional_settings` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `quota_points_albatross` int NOT NULL DEFAULT '8' COMMENT 'Points for albatross (3 under par)',
  `quota_points_eagle` int NOT NULL DEFAULT '8' COMMENT 'Points for eagle (2 under par)',
  `quota_points_birdie` int NOT NULL DEFAULT '6' COMMENT 'Points for birdie (1 under par)',
  `quota_points_par` int NOT NULL DEFAULT '4' COMMENT 'Points for par',
  `quota_points_bogey` int NOT NULL DEFAULT '2' COMMENT 'Points for bogey (1 over par)',
  `quota_points_double_bogey` int NOT NULL DEFAULT '1' COMMENT 'Points for double bogey (2 over par)',
  `quota_points_worse` int NOT NULL DEFAULT '0' COMMENT 'Points for worse than double bogey',
  `live_scoring` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'If 1, scores are visible on leaderboard as they are entered. If 0, only visible after foursome posts scores.',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_league` (`league_id`),
  CONSTRAINT `league_settings_ibfk_1` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `league_settings`
--

LOCK TABLES `league_settings` WRITE;
/*!40000 ALTER TABLE `league_settings` DISABLE KEYS */;
INSERT INTO `league_settings` VALUES (1,1,20.00,10.00,10.00,5.00,'dalindquists@gmail.com',NULL,'2026-05-07 11:25:02','2026-05-07 18:42:09',8,6,4,2,1,0,0,0),(2,2,20.00,10.00,10.00,5.00,'',NULL,'2026-05-07 12:25:06','2026-05-17 16:15:42',8,6,3,2,1,0,0,0),(10,3,20.00,10.00,10.00,5.00,'dalindquists@gmail.com',NULL,'2026-05-16 15:23:05','2026-05-16 15:23:05',8,8,6,4,2,1,0,1),(11,4,20.00,10.00,10.00,5.00,NULL,NULL,'2026-05-16 17:21:24','2026-05-16 17:21:24',8,8,6,4,2,1,0,1);
/*!40000 ALTER TABLE `league_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `league_settings_old`
--

DROP TABLE IF EXISTS `league_settings_old`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `league_settings_old` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '20.00' COMMENT 'Tournament fee for 18 hole events',
  `tournament_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '10.00' COMMENT 'Tournament fee for 9 hole events',
  `golf_course_email` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `skins_ctp_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '10.00' COMMENT 'Optional skins/CTP fee for 18 hole events',
  `skins_ctp_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '5.00' COMMENT 'Optional skins/CTP fee for 9 hole events',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Application settings';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `league_settings_old`
--

LOCK TABLES `league_settings_old` WRITE;
/*!40000 ALTER TABLE `league_settings_old` DISABLE KEYS */;
INSERT INTO `league_settings_old` VALUES (1,20.00,10.00,'dalindquists@gmail.com','2025-12-26 01:45:14','2026-04-26 20:26:38',10.00,5.00);
/*!40000 ALTER TABLE `league_settings_old` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leagues`
--

DROP TABLE IF EXISTS `leagues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leagues` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int unsigned NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alias` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `season_year` int unsigned DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entity_slug` (`billing_entity_id`,`slug`),
  UNIQUE KEY `alias` (`alias`),
  KEY `idx_billing_entity_id` (`billing_entity_id`),
  KEY `idx_season_year` (`season_year`),
  KEY `idx_active` (`active`),
  KEY `idx_alias` (`alias`),
  CONSTRAINT `leagues_ibfk_1` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leagues`
--

LOCK TABLES `leagues` WRITE;
/*!40000 ALTER TABLE `leagues` DISABLE KEYS */;
INSERT INTO `leagues` VALUES (1,1,'Paradise Golf League','paradise','paradise','',2026,'2026-03-25','2026-09-23',1,'2026-05-07 11:25:01','2026-05-07 12:19:07'),(2,2,'TestLeague1','tl1','tl1','test league 1 for test golf course',2026,'2026-05-26','2026-07-28',1,'2026-05-07 12:25:06','2026-05-07 12:41:37'),(3,1,'Paradise Golf League','paradise-golf-league',NULL,'Main competitive league',2026,NULL,NULL,1,'2026-05-16 15:23:05','2026-05-16 15:23:05'),(4,2,'TestLeague2','tl2','tl2','Test League 2',2026,'2026-05-26','2026-07-28',1,'2026-05-16 17:21:24','2026-05-16 17:21:24');
/*!40000 ALTER TABLE `leagues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `subscription_id` int unsigned NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) COLLATE utf8mb4_unicode_ci DEFAULT 'USD',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stripe_payment_intent_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stripe_charge_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paid_at` timestamp NULL DEFAULT NULL,
  `refunded_at` timestamp NULL DEFAULT NULL,
  `failure_reason` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_subscription_id` (`subscription_id`),
  KEY `idx_status` (`status`),
  KEY `idx_paid_at` (`paid_at`),
  KEY `idx_stripe_payment_intent` (`stripe_payment_intent_id`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`subscription_id`) REFERENCES `subscriptions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `sex` enum('M','F') DEFAULT 'M',
  `quota_18` int DEFAULT NULL,
  `quota_9` int DEFAULT NULL,
  `fedex_points` int DEFAULT '0',
  `tournaments_played` int DEFAULT '0',
  `prize_money` decimal(10,2) DEFAULT '0.00',
  `role` enum('player','league_admin','admin','super_admin') DEFAULT 'player',
  `active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `sms_allowed` tinyint(1) NOT NULL DEFAULT '0',
  `email_allowed` tinyint(1) NOT NULL DEFAULT '1',
  `reset_password_token_hash` varchar(64) DEFAULT NULL,
  `reset_password_expires` datetime DEFAULT NULL,
  `refresh_token_hash` varchar(255) DEFAULT NULL,
  `refresh_token_expires` datetime DEFAULT NULL,
  `default_tee_name` varchar(20) DEFAULT NULL COMMENT 'Player''s preferred tee name (e.g. White, Red, Blue). Used as the default when adding the player to a tournament.',
  PRIMARY KEY (`id`),
  KEY `idx_billing_entity_id` (`billing_entity_id`),
  CONSTRAINT `fk_players_billing_entity` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quota`
--

DROP TABLE IF EXISTS `quota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quota` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `player_id` int unsigned NOT NULL,
  `league_id` int unsigned NOT NULL,
  `date_1` date DEFAULT NULL,
  `points_1` int DEFAULT NULL,
  `date_2` date DEFAULT NULL,
  `points_2` int DEFAULT NULL,
  `date_3` date DEFAULT NULL,
  `points_3` int DEFAULT NULL,
  `date_4` date DEFAULT NULL,
  `points_4` int DEFAULT NULL,
  `date_5` date DEFAULT NULL,
  `points_5` int DEFAULT NULL,
  `date_6` date DEFAULT NULL,
  `points_6` int DEFAULT NULL,
  `date_7` date DEFAULT NULL,
  `points_7` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `quota_diff_1` int DEFAULT NULL,
  `holes_1` tinyint unsigned DEFAULT NULL,
  `quota_diff_2` int DEFAULT NULL,
  `holes_2` tinyint unsigned DEFAULT NULL,
  `quota_diff_3` int DEFAULT NULL,
  `holes_3` tinyint unsigned DEFAULT NULL,
  `quota_diff_4` int DEFAULT NULL,
  `holes_4` tinyint unsigned DEFAULT NULL,
  `quota_diff_5` int DEFAULT NULL,
  `holes_5` tinyint unsigned DEFAULT NULL,
  `quota_diff_6` int DEFAULT NULL,
  `holes_6` tinyint unsigned DEFAULT NULL,
  `quota_diff_7` int DEFAULT NULL,
  `holes_7` tinyint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_player_id` (`player_id`),
  KEY `idx_league_id` (`league_id`),
  CONSTRAINT `fk_quota_league` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quota_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quota`
--

LOCK TABLES `quota` WRITE;
/*!40000 ALTER TABLE `quota` DISABLE KEYS */;
/*!40000 ALTER TABLE `quota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schema_migrations`
--

DROP TABLE IF EXISTS `schema_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schema_migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) NOT NULL,
  `applied_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `filename` (`filename`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schema_migrations`
--

LOCK TABLES `schema_migrations` WRITE;
/*!40000 ALTER TABLE `schema_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `schema_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scores`
--

DROP TABLE IF EXISTS `scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `entered_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tournament_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `hole_id` int unsigned NOT NULL,
  `score` tinyint unsigned NOT NULL,
  `quota` int DEFAULT NULL,
  `foursome_group` varchar(50) DEFAULT NULL,
  `ctp_feet` int unsigned DEFAULT NULL,
  `ctp_inches` decimal(3,1) DEFAULT NULL,
  `ctp_image_url` mediumtext,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_player_hole` (`tournament_id`,`player_id`,`hole_id`),
  KEY `idx_tournament_id` (`tournament_id`),
  KEY `idx_player_id` (`player_id`),
  KEY `idx_hole_id` (`hole_id`),
  CONSTRAINT `scores_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `scores_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `scores_ibfk_3` FOREIGN KEY (`hole_id`) REFERENCES `hole` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1266 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scores`
--

LOCK TABLES `scores` WRITE;
/*!40000 ALTER TABLE `scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '20.00',
  `tournament_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '10.00',
  `skins_ctp_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '10.00',
  `skins_ctp_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '5.00',
  `golf_course_email` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,20.00,10.00,10.00,5.00,NULL,'2026-05-07 11:30:13','2026-05-07 11:30:13');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skins_quota`
--

DROP TABLE IF EXISTS `skins_quota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skins_quota` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `player_id` int unsigned NOT NULL,
  `league_id` int unsigned NOT NULL,
  `date_1` date DEFAULT NULL,
  `points_1` int DEFAULT NULL,
  `date_2` date DEFAULT NULL,
  `points_2` int DEFAULT NULL,
  `date_3` date DEFAULT NULL,
  `points_3` int DEFAULT NULL,
  `date_4` date DEFAULT NULL,
  `points_4` int DEFAULT NULL,
  `date_5` date DEFAULT NULL,
  `points_5` int DEFAULT NULL,
  `date_6` date DEFAULT NULL,
  `points_6` int DEFAULT NULL,
  `date_7` date DEFAULT NULL,
  `points_7` int DEFAULT NULL,
  `date_8` date DEFAULT NULL,
  `points_8` int DEFAULT NULL,
  `date_9` date DEFAULT NULL,
  `points_9` int DEFAULT NULL,
  `date_10` date DEFAULT NULL,
  `points_10` int DEFAULT NULL,
  `date_11` date DEFAULT NULL,
  `points_11` int DEFAULT NULL,
  `date_12` date DEFAULT NULL,
  `points_12` int DEFAULT NULL,
  `date_13` date DEFAULT NULL,
  `points_13` int DEFAULT NULL,
  `date_14` date DEFAULT NULL,
  `points_14` int DEFAULT NULL,
  `date_15` date DEFAULT NULL,
  `points_15` int DEFAULT NULL,
  `date_16` date DEFAULT NULL,
  `points_16` int DEFAULT NULL,
  `date_17` date DEFAULT NULL,
  `points_17` int DEFAULT NULL,
  `date_18` date DEFAULT NULL,
  `points_18` int DEFAULT NULL,
  `date_19` date DEFAULT NULL,
  `points_19` int DEFAULT NULL,
  `date_20` date DEFAULT NULL,
  `points_20` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `quota_diff_1` int DEFAULT NULL,
  `quota_diff_2` int DEFAULT NULL,
  `quota_diff_3` int DEFAULT NULL,
  `quota_diff_4` int DEFAULT NULL,
  `quota_diff_5` int DEFAULT NULL,
  `quota_diff_6` int DEFAULT NULL,
  `quota_diff_7` int DEFAULT NULL,
  `quota_diff_8` int DEFAULT NULL,
  `quota_diff_9` int DEFAULT NULL,
  `quota_diff_10` int DEFAULT NULL,
  `quota_diff_11` int DEFAULT NULL,
  `quota_diff_12` int DEFAULT NULL,
  `quota_diff_13` int DEFAULT NULL,
  `quota_diff_14` int DEFAULT NULL,
  `quota_diff_15` int DEFAULT NULL,
  `quota_diff_16` int DEFAULT NULL,
  `quota_diff_17` int DEFAULT NULL,
  `quota_diff_18` int DEFAULT NULL,
  `quota_diff_19` int DEFAULT NULL,
  `quota_diff_20` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_player_id` (`player_id`),
  KEY `idx_league_id` (`league_id`),
  CONSTRAINT `fk_skins_quota_league` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE,
  CONSTRAINT `skins_quota_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skins_quota`
--

LOCK TABLES `skins_quota` WRITE;
/*!40000 ALTER TABLE `skins_quota` DISABLE KEYS */;
/*!40000 ALTER TABLE `skins_quota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_plans`
--

DROP TABLE IF EXISTS `subscription_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription_plans` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `price_monthly` decimal(10,2) NOT NULL,
  `price_yearly` decimal(10,2) NOT NULL,
  `max_players` int unsigned DEFAULT NULL,
  `max_tournaments_per_year` int unsigned DEFAULT NULL,
  `features` json DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_slug` (`slug`),
  KEY `idx_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_plans`
--

LOCK TABLES `subscription_plans` WRITE;
/*!40000 ALTER TABLE `subscription_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscription_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscriptions` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int unsigned NOT NULL,
  `plan_id` int unsigned NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `billing_cycle` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'monthly',
  `current_period_start` date NOT NULL,
  `current_period_end` date NOT NULL,
  `cancel_at_period_end` tinyint(1) NOT NULL DEFAULT '0',
  `trial_ends_at` date DEFAULT NULL,
  `stripe_subscription_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stripe_customer_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `plan_id` (`plan_id`),
  KEY `idx_billing_entity_id` (`billing_entity_id`),
  KEY `idx_status` (`status`),
  KEY `idx_period_end` (`current_period_end`),
  KEY `idx_stripe_subscription` (`stripe_subscription_id`),
  CONSTRAINT `subscriptions_ibfk_1` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `subscriptions_ibfk_2` FOREIGN KEY (`plan_id`) REFERENCES `subscription_plans` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscriptions`
--

LOCK TABLES `subscriptions` WRITE;
/*!40000 ALTER TABLE `subscriptions` DISABLE KEYS */;
INSERT INTO `subscriptions` VALUES (1,1,1,'active','monthly','2026-05-07','2027-05-07',0,NULL,NULL,NULL,'2026-05-07 11:25:10','2026-05-07 11:25:10'),(2,1,1,'active','monthly','2026-05-16','2027-05-16',0,NULL,NULL,NULL,'2026-05-16 15:23:26','2026-05-16 15:23:26');
/*!40000 ALTER TABLE `subscriptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament`
--

DROP TABLE IF EXISTS `tournament`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `league_id` int unsigned DEFAULT NULL,
  `event_id` int unsigned DEFAULT NULL,
  `date` date NOT NULL,
  `first_tee_time` time DEFAULT NULL,
  `course_id` int unsigned NOT NULL,
  `number_of_holes` tinyint unsigned NOT NULL DEFAULT '18',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `in_progress` tinyint(1) DEFAULT '0' COMMENT 'Tournament is currently in progress',
  `completed` tinyint(1) DEFAULT '0' COMMENT 'Tournament is completed',
  `nine_hole_side` enum('front','back') NOT NULL DEFAULT 'front',
  `quota_collected` decimal(10,2) DEFAULT NULL,
  `skins_collected` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_date` (`date`),
  KEY `idx_course_id` (`course_id`),
  KEY `idx_in_progress` (`in_progress`),
  KEY `idx_completed` (`completed`),
  KEY `idx_league_id` (`league_id`),
  KEY `idx_event_id` (`event_id`),
  CONSTRAINT `fk_tournament_event` FOREIGN KEY (`event_id`) REFERENCES `events` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tournament_league` FOREIGN KEY (`league_id`) REFERENCES `leagues` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament`
--

LOCK TABLES `tournament` WRITE;
/*!40000 ALTER TABLE `tournament` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_completion_backups`
--

DROP TABLE IF EXISTS `tournament_completion_backups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_completion_backups` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `backup_data` json NOT NULL,
  `restored_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_tcb_tournament_id` (`tournament_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_completion_backups`
--

LOCK TABLES `tournament_completion_backups` WRITE;
/*!40000 ALTER TABLE `tournament_completion_backups` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_completion_backups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_ctp_winners`
--

DROP TABLE IF EXISTS `tournament_ctp_winners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_ctp_winners` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `hole_id` int unsigned NOT NULL,
  `hole_number` tinyint unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `ctp_feet` int unsigned DEFAULT NULL,
  `ctp_inches` decimal(3,1) DEFAULT NULL,
  `ctp_image_url` mediumtext,
  `prize_money` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_ctp_hole` (`tournament_id`,`hole_id`),
  KEY `hole_id` (`hole_id`),
  KEY `player_id` (`player_id`),
  CONSTRAINT `tournament_ctp_winners_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_ctp_winners_ibfk_2` FOREIGN KEY (`hole_id`) REFERENCES `hole` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_ctp_winners_ibfk_3` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_ctp_winners`
--

LOCK TABLES `tournament_ctp_winners` WRITE;
/*!40000 ALTER TABLE `tournament_ctp_winners` DISABLE KEYS */;
INSERT INTO `tournament_ctp_winners` VALUES (1,1,60,6,30,2,NULL,NULL,17.00,'2026-04-03 02:31:07'),(2,1,62,8,37,3,NULL,NULL,17.00,'2026-04-03 02:31:07'),(3,2,4,4,28,5,NULL,NULL,23.00,'2026-04-03 19:02:31'),(4,2,6,6,30,4,NULL,NULL,23.00,'2026-04-03 19:02:31'),(5,3,12,12,28,10,NULL,NULL,10.00,'2026-04-13 16:55:56'),(6,3,16,16,35,5,NULL,NULL,10.00,'2026-04-13 16:55:56'),(7,4,60,6,28,8,NULL,NULL,16.00,'2026-04-16 22:40:47'),(8,4,62,8,35,9,NULL,NULL,16.00,'2026-04-16 22:40:47'),(9,5,60,6,32,6,NULL,NULL,21.00,'2026-04-23 03:39:43'),(10,5,62,8,26,6,NULL,NULL,21.00,'2026-04-23 03:39:43');
/*!40000 ALTER TABLE `tournament_ctp_winners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_pairings`
--

DROP TABLE IF EXISTS `tournament_pairings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_pairings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tournament_id` int NOT NULL,
  `player_id` int NOT NULL,
  `hole_id` int NOT NULL,
  `foursome_group` varchar(50) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tournament_player_hole` (`tournament_id`,`player_id`,`hole_id`),
  KEY `idx_tournament_hole` (`tournament_id`,`hole_id`),
  KEY `idx_tournament_group` (`tournament_id`,`foursome_group`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_pairings`
--

LOCK TABLES `tournament_pairings` WRITE;
/*!40000 ALTER TABLE `tournament_pairings` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_pairings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_paradise_points`
--

DROP TABLE IF EXISTS `tournament_paradise_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_paradise_points` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `place` int unsigned NOT NULL,
  `total_quota_points` int NOT NULL,
  `player_quota` int NOT NULL,
  `over_under` int NOT NULL,
  `points_awarded` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_player_points` (`tournament_id`,`player_id`),
  KEY `idx_tpp_player_id` (`player_id`),
  CONSTRAINT `tournament_paradise_points_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_paradise_points_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_paradise_points`
--

LOCK TABLES `tournament_paradise_points` WRITE;
/*!40000 ALTER TABLE `tournament_paradise_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_paradise_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_players`
--

DROP TABLE IF EXISTS `tournament_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_players` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `registration_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `paid` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Whether player has paid tournament fee (0 = not paid, 1 = paid)',
  `attending_status` enum('pending','yes','no') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `response_date` timestamp NULL DEFAULT NULL,
  `skins_ctp_paid` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Whether player paid optional skins/CTP fee (0 = not paid, 1 = paid)',
  `tournament_quota` int DEFAULT NULL COMMENT 'Saved player quota used for this specific tournament',
  `foursome` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pair` smallint DEFAULT NULL,
  `tee_id` int unsigned DEFAULT NULL COMMENT 'Which tee this player plays from in this tournament (FK to course_tee)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_player` (`tournament_id`,`player_id`),
  KEY `idx_tournament_id` (`tournament_id`),
  KEY `idx_player_id` (`player_id`),
  KEY `fk_tp_tee` (`tee_id`),
  CONSTRAINT `fk_tp_tee` FOREIGN KEY (`tee_id`) REFERENCES `course_tee` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tournament_players_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_players_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_players`
--

LOCK TABLES `tournament_players` WRITE;
/*!40000 ALTER TABLE `tournament_players` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_results_email`
--

DROP TABLE IF EXISTS `tournament_results_email`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_results_email` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tournament_id` int NOT NULL,
  `subject` varchar(500) DEFAULT NULL,
  `html` mediumtext,
  `generated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `sent_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tournament` (`tournament_id`),
  KEY `idx_tournament_id` (`tournament_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_results_email`
--

LOCK TABLES `tournament_results_email` WRITE;
/*!40000 ALTER TABLE `tournament_results_email` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_results_email` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_skin_winners`
--

DROP TABLE IF EXISTS `tournament_skin_winners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_skin_winners` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `hole_id` int unsigned NOT NULL,
  `hole_number` tinyint unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `score` tinyint unsigned NOT NULL,
  `prize_money` decimal(10,2) NOT NULL DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_skin_hole` (`tournament_id`,`hole_id`),
  KEY `hole_id` (`hole_id`),
  KEY `player_id` (`player_id`),
  CONSTRAINT `tournament_skin_winners_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_skin_winners_ibfk_2` FOREIGN KEY (`hole_id`) REFERENCES `hole` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_skin_winners_ibfk_3` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_skin_winners`
--

LOCK TABLES `tournament_skin_winners` WRITE;
/*!40000 ALTER TABLE `tournament_skin_winners` DISABLE KEYS */;
/*!40000 ALTER TABLE `tournament_skin_winners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `password` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-08 17:51:00
