-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: npgolf
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
INSERT INTO `course` VALUES (2,'Eagles Forest','Nine Eagles Dr Odessa, FL',NULL,'2025-12-05 23:54:39','2025-12-05 23:54:39'),(3,'Eagles Lakes','Nine Eagles Dr Odessa FL',NULL,'2025-12-11 04:04:38','2025-12-11 04:04:38');
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hole`
--

DROP TABLE IF EXISTS `hole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hole` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `course_id` int unsigned NOT NULL,
  `hole_number` tinyint unsigned NOT NULL,
  `mens_distance` int unsigned NOT NULL,
  `mens_par` tinyint unsigned NOT NULL,
  `mens_handicap` tinyint unsigned NOT NULL,
  `ladies_distance` int unsigned NOT NULL,
  `ladies_par` tinyint unsigned NOT NULL,
  `ladies_handicap` tinyint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_course_hole` (`course_id`,`hole_number`),
  CONSTRAINT `hole_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hole`
--

LOCK TABLES `hole` WRITE;
/*!40000 ALTER TABLE `hole` DISABLE KEYS */;
/*!40000 ALTER TABLE `hole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `sex` char(1) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `quota` decimal(5,2) DEFAULT NULL,
  `fedex_points` int DEFAULT '0',
  `tournaments_played` int DEFAULT '0',
  `prize_money` decimal(12,2) DEFAULT '0.00',
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(20) DEFAULT 'player',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `phone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quota`
--

DROP TABLE IF EXISTS `quota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quota` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `player_id` int unsigned NOT NULL,
  `date_1` date DEFAULT NULL,
  `points_1` decimal(5,2) DEFAULT NULL,
  `date_2` date DEFAULT NULL,
  `points_2` decimal(5,2) DEFAULT NULL,
  `date_3` date DEFAULT NULL,
  `points_3` decimal(5,2) DEFAULT NULL,
  `date_4` date DEFAULT NULL,
  `points_4` decimal(5,2) DEFAULT NULL,
  `date_5` date DEFAULT NULL,
  `points_5` decimal(5,2) DEFAULT NULL,
  `date_6` date DEFAULT NULL,
  `points_6` decimal(5,2) DEFAULT NULL,
  `date_7` date DEFAULT NULL,
  `points_7` decimal(5,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_player_id` (`player_id`),
  CONSTRAINT `quota_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quota`
--

LOCK TABLES `quota` WRITE;
/*!40000 ALTER TABLE `quota` DISABLE KEYS */;
/*!40000 ALTER TABLE `quota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scores`
--

DROP TABLE IF EXISTS `scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `entered_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `tournament_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `hole_id` int unsigned NOT NULL,
  `score` tinyint unsigned NOT NULL,
  `quota` decimal(5,2) DEFAULT NULL,
  `foursome_group` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_player_hole` (`tournament_id`,`player_id`,`hole_id`),
  KEY `idx_tournament_id` (`tournament_id`),
  KEY `idx_player_id` (`player_id`),
  KEY `idx_hole_id` (`hole_id`),
  CONSTRAINT `scores_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `scores_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE,
  CONSTRAINT `scores_ibfk_3` FOREIGN KEY (`hole_id`) REFERENCES `hole` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=156 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scores`
--

LOCK TABLES `scores` WRITE;
/*!40000 ALTER TABLE `scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_fee_18_holes` decimal(10,2) NOT NULL DEFAULT '20.00' COMMENT 'Tournament fee for 18 hole events',
  `tournament_fee_9_holes` decimal(10,2) NOT NULL DEFAULT '10.00' COMMENT 'Tournament fee for 9 hole events',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Application settings';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,20.00,10.00,'2025-12-12 17:18:23','2025-12-12 17:18:23');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skins_quota`
--

DROP TABLE IF EXISTS `skins_quota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skins_quota` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `player_id` int unsigned NOT NULL,
  `date_1` date DEFAULT NULL,
  `points_1` decimal(5,2) DEFAULT NULL,
  `date_2` date DEFAULT NULL,
  `points_2` decimal(5,2) DEFAULT NULL,
  `date_3` date DEFAULT NULL,
  `points_3` decimal(5,2) DEFAULT NULL,
  `date_4` date DEFAULT NULL,
  `points_4` decimal(5,2) DEFAULT NULL,
  `date_5` date DEFAULT NULL,
  `points_5` decimal(5,2) DEFAULT NULL,
  `date_6` date DEFAULT NULL,
  `points_6` decimal(5,2) DEFAULT NULL,
  `date_7` date DEFAULT NULL,
  `points_7` decimal(5,2) DEFAULT NULL,
  `date_8` date DEFAULT NULL,
  `points_8` decimal(5,2) DEFAULT NULL,
  `date_9` date DEFAULT NULL,
  `points_9` decimal(5,2) DEFAULT NULL,
  `date_10` date DEFAULT NULL,
  `points_10` decimal(5,2) DEFAULT NULL,
  `date_11` date DEFAULT NULL,
  `points_11` decimal(5,2) DEFAULT NULL,
  `date_12` date DEFAULT NULL,
  `points_12` decimal(5,2) DEFAULT NULL,
  `date_13` date DEFAULT NULL,
  `points_13` decimal(5,2) DEFAULT NULL,
  `date_14` date DEFAULT NULL,
  `points_14` decimal(5,2) DEFAULT NULL,
  `date_15` date DEFAULT NULL,
  `points_15` decimal(5,2) DEFAULT NULL,
  `date_16` date DEFAULT NULL,
  `points_16` decimal(5,2) DEFAULT NULL,
  `date_17` date DEFAULT NULL,
  `points_17` decimal(5,2) DEFAULT NULL,
  `date_18` date DEFAULT NULL,
  `points_18` decimal(5,2) DEFAULT NULL,
  `date_19` date DEFAULT NULL,
  `points_19` decimal(5,2) DEFAULT NULL,
  `date_20` date DEFAULT NULL,
  `points_20` decimal(5,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_player_id` (`player_id`),
  CONSTRAINT `skins_quota_ibfk_1` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skins_quota`
--

LOCK TABLES `skins_quota` WRITE;
/*!40000 ALTER TABLE `skins_quota` DISABLE KEYS */;
/*!40000 ALTER TABLE `skins_quota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament`
--

DROP TABLE IF EXISTS `tournament`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `first_tee_time` time DEFAULT NULL,
  `course_id` int unsigned NOT NULL,
  `number_of_holes` tinyint unsigned NOT NULL DEFAULT '18',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `in_progress` tinyint(1) DEFAULT '0' COMMENT 'Tournament is currently in progress',
  `completed` tinyint(1) DEFAULT '0' COMMENT 'Tournament is completed',
  PRIMARY KEY (`id`),
  KEY `idx_date` (`date`),
  KEY `idx_course_id` (`course_id`),
  KEY `idx_in_progress` (`in_progress`),
  KEY `idx_completed` (`completed`),
  CONSTRAINT `tournament_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament`
--

LOCK TABLES `tournament` WRITE;
/*!40000 ALTER TABLE `tournament` DISABLE KEYS */;
INSERT INTO `tournament` VALUES (1,'2025-12-15',NULL,2,18,'2025-12-06 02:03:59','2025-12-06 02:03:59',0,0),(2,'2025-12-15',NULL,2,18,'2025-12-06 02:04:09','2025-12-06 02:04:09',0,0),(3,'2025-12-22',NULL,2,18,'2025-12-06 02:04:09','2025-12-06 02:04:09',0,0),(4,'2026-01-05',NULL,2,9,'2025-12-06 02:04:09','2025-12-06 02:04:09',0,0);
/*!40000 ALTER TABLE `tournament` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament_players`
--

DROP TABLE IF EXISTS `tournament_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament_players` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tournament_id` int unsigned NOT NULL,
  `player_id` int unsigned NOT NULL,
  `registration_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `paid` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Whether player has paid tournament fee (0 = not paid, 1 = paid)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tournament_player` (`tournament_id`,`player_id`),
  KEY `idx_tournament_id` (`tournament_id`),
  KEY `idx_player_id` (`player_id`),
  CONSTRAINT `tournament_players_ibfk_1` FOREIGN KEY (`tournament_id`) REFERENCES `tournament` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tournament_players_ibfk_2` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament_players`
--

LOCK TABLES `tournament_players` WRITE;
/*!40000 ALTER TABLE `tournament_players` DISABLE KEYS */;
INSERT INTO `tournament_players` VALUES (2,1,4,'2025-12-11 23:37:57',0),(3,1,6,'2025-12-11 23:37:58',0),(4,2,2,'2025-12-12 00:51:03',1),(5,2,7,'2025-12-12 00:51:15',1),(6,2,6,'2025-12-12 01:26:19',1),(7,2,3,'2025-12-12 01:26:28',1),(8,2,5,'2025-12-12 01:26:36',1),(9,2,8,'2025-12-12 01:27:45',1),(10,2,4,'2025-12-12 01:27:58',1),(11,2,1,'2025-12-12 01:28:18',1);
/*!40000 ALTER TABLE `tournament_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `password` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-12 22:08:22
